## Task One
In the previous exercise you created a Python environment. In the first task of this exercise, you are tasked with extending the environment to connect with your database and interact with the data it holds. 

Your first step is to import the connector module, enter your user details and connect with the database (Hint: you can use an alias when importing the module).

This gives you access to all the functionality available from the connector API, which can be accessed through the variable named connector (or whichever alias you choose). 

To connect with your database, you can call the connect method of the connector class and pass in your details using the following code: $$

In [39]:
# Import MySQL Connector/Python 
import mysql.connector as connector

# Establish the connection
connection = connector.connect(
    user="root",
    password="",
    db="LittleLemonDB"
)

# Instantiate a cursor
cursor = connection.cursor()

## Task two
In this second task, you now need to query the database to show all tables within the database. 

Having established a connection in the first task, you need to execute a test query to ensure that there are no issues. You can do this by executing, or passing, a generic query that returns a snapshot of the database tables. 

You need to execute the query on the cursor using the code that follows. The cursor, as you should recall, is the bridge through which you can pass queries and return results.

In [40]:
# Task Two: Query the database to show all tables

# Define the query to show tables
show_tables_query = "SHOW TABLES"

# Execute the query
cursor.execute(show_tables_query)

# Fetch all results
results = cursor.fetchall()

# Print results
for table in results:
    print(table)

('Bookings',)
('Customer_Details',)
('MenuItems',)
('Menus',)
('Order_Delivery_Status',)
('Orders',)
('ordersview',)
('Staff_Information',)

## Task 3
## Query with table JOIN

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign. 

You can use the following steps to implement this functionality in your database directory:

In [41]:
# Define the query
query = """
SELECT 
    c.FirstName,
    c.LastName,
    c.Email, 
    c.ContactNumber, 
    o.TotalCost
FROM 
    Orders o
INNER JOIN 
    Customer_Details c ON o.CustomerID = c.CustomerID
WHERE 
    o.TotalCost > 60;
"""

# Execute the query
cursor.execute(query)

# Fetch and print results
results = cursor.fetchall()
for row in results:
    print(row)

('John', 'Doe', 'john.doe@email.com', 900040530, Decimal('150.00'))

In [42]:
# Close the cursor and connection
cursor.close()
connection.close()